/* CSS Document */
* {
	margin: 0;
	padding: 0;
	font-family: "ו";
	font-size: 12px;
}

body {
	background: #f9fcff;
}

ul {
	list-style: none
}

a {
	color: #000;
	font-size: 12px;
	text-decoration: none
}

a:hover {
	font-size: 12px;
	color: #ff0000;
	TEXT-DECORATION:underline;
}

input,textarea,select {
	font-size: 12px;;
}

.clear {
	clear: both;
}

.admin_top {
	width: 100%;
	height: 54px;
	background: url(../images/admin_top.gif) repeat-x left top;
}

.admin_left {
	width: 180px;
	position: absolute;
	top: 82px;
	left: 0;
	overflow: hidden;
	height: 100%
}

.admin_right {
	position: absolute;
	top: 82px;
	left: 200px;
	height: 100%;
	width: 82%;
}

.admin_top p {
	font-weight: bold;
	color: #fff
}

.top_left {
	width: 200px;
	height: 54px;
	line-height: 54px;
	float: left;
	margin-left: 5px;
}

.top_right {
	width: 980px;
	float: right;
	padding: 20px;
}

.top_right span {
	padding: 0 8px;
}

.top_right span label {
	color: #EEF7FE;
	font-weight: bold;
	padding-left: 3px
}

.top_right a {
	color: #fff;
	padding: 0 5px;
}

.admin_time {
	width: 100%;
	height: 27px;
	border-bottom: 1px solid #aaa;
	background: url(../images/admin_time_bg.gif) repeat-x left top;
	padding-left: 20px;
	line-height: 27px;
}

.message {
	padding: 10px;
	text-align: center;
}

.message1 {
	padding: 3px;
	text-align: center;
}

.message p {
	padding: 5px 0;
}

.small_nav {
	margin: 5px 0;
}

.small_nav li {
	display: block;
	float: left;
	height: 25px;
	line-height: 25px;
	margin-left: 10px;
}

.small_nav li a {
	display: block;
	float: left;
	height: 25px;
	line-height: 25px;
}

.main_title {
	height: 25px;
	clear: both;
	line-height: 25px;
	background: #C1DFF4;
	border: 1px solid #2D9FEE;
	border-left: none;
	border-right: none;
	margin-top: 5px;
	padding-left: 10px;
	font-weight: bold
}

.main_ul {
	float: left
}

.main_ul li {
	display: block;
	width: 49%;
	text-align: left;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	float: left;
	border-bottom: 1px dashed #ccc
}

.main_ul li span {
	color: #2D9FEE
}

.left_contain {
	width: 180px;
}

.left_top {
	background: #ddf1ff;
	border: 1px solid #66a7df;
	width: 178px;
	height: 40px;
	border-bottom: none;
	text-align: center;
	line-height: 40px;
}

.left_top p {
	background: #8dc4f2;
	margin: 1px;
	height: 38px;
	font-style: inherit;
}

.left_contain h2 {
	font-size: 12px;
	color: #0e2978;
	background: #6bb9fc;
	border: 1px solid #66a7df;
	border-bottom: none;
	height: 30px;
	cursor: pointer
}

.left_contain h2 p {
	margin: 1px;
	background: url(../images/admin_nav_bg.gif) repeat-x left top;
	line-height: 28px;
	padding-left: 35px;
}

.left_contain h2 p span {
	padding-left: 15px;
	background: url(../images/icon1.gif) no-repeat left center
}

.left_contain ul {
	margin: 4px;
	padding: 5px;
	background: #EEF7FE;
}

.left_contain ul li {
	padding-left: 30px;
	height: 25px;
	line-height: 25px;
}

.left_contain ul li a {
	padding-left: 15px;
	background: url(../images/icon2.gif) no-repeat left center
}

.q {
	width: 100%;
	height: 25px;
	line-height: 25px;
}

.q ul {
	margin-left: 0px;
}

.q ul li {
	width: 80px;
	margin-right: 5px;
	line-height: 25px;
	background: url(../images/q.gif) no-repeat left top;
	display: block;
	float: left;
	display: inline;
	text-align: center;
	cursor: pointer;
	overflow: hidden
}

.div_out {
	border: 1px solid #eee;
	border-top: 2px solid #2d9fee;
	border-left: none;
	border-bottom: none;
	border-right: none;
	width: 99%;
	margin-bottom: 8px;
}

.div_out1 {
	width: 99%;
	margin-bottom: 8px;
}

.div_margin {
	margin: 20px 0
}

.position,.page {
	height: 25px;
	line-height: 25px;
	background: url(../images/admin_mainbg.gif) repeat-x left top
}

.position h2 {
	padding-left: 10px;
	font-size: 12px;
	color: #555555;
	font-weight: normal
}

.lang {
	padding: 5px;
	border-bottom: 1px solid #C6E4F8
}

.lang span {
	color: #999
}

.lang a {
	padding: 0 8px;
}

.lang a.hover {
	color: #ceb70d;
	font-weight: bold
}

.form table {
	width: 100%;
}

.form table td,#tb table td {
	line-height: 14px;
	padding: 5px 0;
	font-size: 12px;
}

.form table th,#tb table th {
	height: 25px;
	line-height: 25px;
}

.form table th,td,#tb table td,th {
	border-bottom: 1px dashed #c6e4f8
}

.form table th,#tb table th {
	background: #c1dff4;
	color: #002c51;
	font-weight: normal
}

.form table th.r,td.r {
	border-right: none
}

.form table td, ,#tb table td {
	text-align: left;
	padding-left: 8px;
	background: none
}

.form .w1 {
	width: 20%;
	color: #000;
	text-align: center;
}

.form .w1 p {
	font-weight: normal
}

.form .w2 {
	width: 49%;
}

.form .w3 {
	width: 30%
}

.form table td.w2 {
	text-align: left;
	padding-left: 5px;
}

.form input,#tb input,.form textarea {
	border: 1px solid #ccc;
	padding: 3px 0;
	margin-right: 5px
}

.form .btn,#tb .btn {
	text-align: center;
	height: 30px;
	line-height: 30px;
	padding-top: 10px;
}

.form input.go,#tb input.go,input.go {
	height: 25px;
	line-height: 25px;
	border: 1px solid #d07300;
	background: #ff930d;
	padding: 0 15px;
}

table #catagory {
	padding: 0;
	clear: both;
}

#catagory p {
	padding: 0px 0;
}

#catagory .right {
	float: right;
	height: 20px;
	line-height: 20px;
	overflow: hidden
}

#catagory .left {
	float: left;
	height: 20px;
	line-height: 20px;
}

#catagory span.exp {
	padding: 3px 10px;
	background: url(../images/explode.gif) no-repeat left center;
}

#catagory span.cata {
	padding: 0 5px;
}

#catagory span.caozuo a {
	padding: 0 3px;
}

.page {
	width: 99%;
	border: 1px solid #cadaf1;
	border-top: none;
	text-align: right;
	margin-top: 8px;
}

.page ul {
	margin-left: 20px;
}

.page li {
	display: block;
	float: left;
	margin-left: 5px;
	height: 25px;
	line-height: 25px;
}

.page li a {
	display: block;
	height: 25px;
	line-height: 25px;
	float: left;
}

.page li.focus a {
	font-weight: bold;
	color: #990000
}

.login {
	margin-top: 180px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	width: 440px;
	height: 180px;
	overflow: hidden;
	background: url('../images/login_k_bg1.gif') repeat-x left top;
}

.login_bg {
	margin: 7px;
	padding: 2px;
	height: 162px;
	background: url('../images/login_k_bg2.gif') repeat-x left top
}

.login_bg2 {
	background: #057fcc;
	height: 162px;
}

.login_title {
	padding-top: 29px;
	background: url('../images/logintitlenews11.gif') no-repeat 10px 5px;
}

.login_register {
	padding-top: 29px;
	background: url(../images/login_title2.gif) no-repeat right;
}

.login form {
	padding-left: 120px;
	background: url(../images/login_icon.gif) no-repeat 15px center;
	margin-top: 18px;
}

.login_left {
	width: 195px;
	float: left
}

.login_left p {
	height: 28px;
	line-height: 28px;
}

.login_left label {
	display: block;
	float: left;
	width: 50px;
	color: #FFFFFF;
	text-align: right
}

.login_left .f {
	width: 140px;
	float: right
}

.login_right {
	width: 84px;
	float: right;
	margin-right: 8px;
	display: inline
}

.login h2 {
	font-size: 12px;
	padding: 5px;
}

.login form input {
	padding: 3px 0
}

.login .btn {
	text-align: center;
	height: 30px;
	line-height: 30px;
	padding-top: 10px;
}

#loading {
	background: url(../images/ajax1.gif) no-repeat left center;
	padding: 5px 8px;
	text-indent: 10000px;
}

.ld_close,.err {
	padding: 5px 0;
	padding-left: 20px;
	background: url(../images/close.png) no-repeat left center;
	color: #FF0000;
}

.ld_ok {
	padding: 5px 0;
	padding-left: 20px;
	background: url(../images/ok.png) no-repeat left center;
	color: #009900
}

.caozuo_nav {
	margin-bottom: 8px;
}

.caozuo_nav li {
	display: block;
	float: left;
	height: 25px;
	line-height: 25px;
	margin-right: 8px;
	display: inline
}

.caozuo_nav li a {
	display: block;
	float: left;
	height: 25px;
	line-height: 25px;
	padding: 0 5px;
	color: #001961;
	background: url(../images/admin_mainbg.gif) repeat-x left top;
	border: 1px solid #2788dc
}

.caozuo_nav li.hover a {
	background: url(../images/caozuo_nav_hover.gif) repeat-x left top;
	border: 1px solid #ceb70d
}

.help {
	padding: 5px;
	padding-left: 20px;
	background: url(../images/help.png) no-repeat left center
}

table tbody span.qi_yes {
	padding: 5px 10px;
	background: url(../images/yes.png) no-repeat left center
}

table tbody span.qi_no {
	padding: 5px 10px;
	background: url(../images/no.png) no-repeat left center
}

#show_pic {
	width: 500px;
}

#show_pic li {
	display: block;
	float: left;
	margin: 5px 5px 5px 0;
	height: 140px;
	width: 125px;
}

#show_pic li img {
	padding: 1px;
	border: 1px solid #ccc
}

#show_pic li a:hover img {
	border: 1px solid #CC0000
}

#show_pic li span {
	display: block;
	height: 18px;
	line-height: 18px;
	cursor: pointer;
	text-align: center
}

a.fl_dir {
	background: url(../images/folder.png) no-repeat left center;
	padding-left: 20px;
	padding-top: 2px;
}
